<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ranze.schedule.mapper.TaskMapper">
  <resultMap id="BaseResultMap" type="com.ranze.schedule.pojo.Task">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="bind_type" jdbcType="TINYINT" property="bindType" />
    <result column="bind_user" jdbcType="VARCHAR" property="bindUser" />
    <result column="bind_task_id" jdbcType="BIGINT" property="bindTaskId" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="start_date" jdbcType="DATE" property="startDate" />
    <result column="end_date" jdbcType="DATE" property="endDate" />
    <result column="exclude_date_type" jdbcType="TINYINT" property="excludeDateType" />
    <result column="single_date_time" jdbcType="TIMESTAMP" property="singleDateTime" />
    <result column="time_in_day" jdbcType="TIME" property="timeInDay" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="addition" jdbcType="VARCHAR" property="addition" />
    <result column="is_marked" jdbcType="TINYINT" property="marked" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, gmt_create, gmt_modified, user_id, bind_type, bind_user, bind_task_id, type, 
    start_date, end_date, exclude_date_type, single_date_time, time_in_day, content, 
    addition, is_marked
  </sql>
  <select id="selectByExample" parameterType="com.ranze.schedule.pojo.TaskExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from task
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from task
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ranze.schedule.pojo.TaskExample">
    delete from task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ranze.schedule.pojo.Task">
    insert into task (id, gmt_create, gmt_modified, 
      user_id, bind_type, bind_user, 
      bind_task_id, type, start_date, 
      end_date, exclude_date_type, single_date_time, 
      time_in_day, content, addition, 
      is_marked)
    values (#{id,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=VARCHAR}, #{bindType,jdbcType=TINYINT}, #{bindUser,jdbcType=VARCHAR}, 
      #{bindTaskId,jdbcType=BIGINT}, #{type,jdbcType=TINYINT}, #{startDate,jdbcType=DATE}, 
      #{endDate,jdbcType=DATE}, #{excludeDateType,jdbcType=TINYINT}, #{singleDateTime,jdbcType=TIMESTAMP}, 
      #{timeInDay,jdbcType=TIME}, #{content,jdbcType=VARCHAR}, #{addition,jdbcType=VARCHAR}, 
      #{marked,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ranze.schedule.pojo.Task">
    insert into task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="bindType != null">
        bind_type,
      </if>
      <if test="bindUser != null">
        bind_user,
      </if>
      <if test="bindTaskId != null">
        bind_task_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="startDate != null">
        start_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
      <if test="excludeDateType != null">
        exclude_date_type,
      </if>
      <if test="singleDateTime != null">
        single_date_time,
      </if>
      <if test="timeInDay != null">
        time_in_day,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="addition != null">
        addition,
      </if>
      <if test="marked != null">
        is_marked,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="bindType != null">
        #{bindType,jdbcType=TINYINT},
      </if>
      <if test="bindUser != null">
        #{bindUser,jdbcType=VARCHAR},
      </if>
      <if test="bindTaskId != null">
        #{bindTaskId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=DATE},
      </if>
      <if test="excludeDateType != null">
        #{excludeDateType,jdbcType=TINYINT},
      </if>
      <if test="singleDateTime != null">
        #{singleDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="timeInDay != null">
        #{timeInDay,jdbcType=TIME},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="addition != null">
        #{addition,jdbcType=VARCHAR},
      </if>
      <if test="marked != null">
        #{marked,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ranze.schedule.pojo.TaskExample" resultType="java.lang.Long">
    select count(*) from task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update task
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.bindType != null">
        bind_type = #{record.bindType,jdbcType=TINYINT},
      </if>
      <if test="record.bindUser != null">
        bind_user = #{record.bindUser,jdbcType=VARCHAR},
      </if>
      <if test="record.bindTaskId != null">
        bind_task_id = #{record.bindTaskId,jdbcType=BIGINT},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.startDate != null">
        start_date = #{record.startDate,jdbcType=DATE},
      </if>
      <if test="record.endDate != null">
        end_date = #{record.endDate,jdbcType=DATE},
      </if>
      <if test="record.excludeDateType != null">
        exclude_date_type = #{record.excludeDateType,jdbcType=TINYINT},
      </if>
      <if test="record.singleDateTime != null">
        single_date_time = #{record.singleDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.timeInDay != null">
        time_in_day = #{record.timeInDay,jdbcType=TIME},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.addition != null">
        addition = #{record.addition,jdbcType=VARCHAR},
      </if>
      <if test="record.marked != null">
        is_marked = #{record.marked,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update task
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      user_id = #{record.userId,jdbcType=VARCHAR},
      bind_type = #{record.bindType,jdbcType=TINYINT},
      bind_user = #{record.bindUser,jdbcType=VARCHAR},
      bind_task_id = #{record.bindTaskId,jdbcType=BIGINT},
      type = #{record.type,jdbcType=TINYINT},
      start_date = #{record.startDate,jdbcType=DATE},
      end_date = #{record.endDate,jdbcType=DATE},
      exclude_date_type = #{record.excludeDateType,jdbcType=TINYINT},
      single_date_time = #{record.singleDateTime,jdbcType=TIMESTAMP},
      time_in_day = #{record.timeInDay,jdbcType=TIME},
      content = #{record.content,jdbcType=VARCHAR},
      addition = #{record.addition,jdbcType=VARCHAR},
      is_marked = #{record.marked,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ranze.schedule.pojo.Task">
    update task
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="bindType != null">
        bind_type = #{bindType,jdbcType=TINYINT},
      </if>
      <if test="bindUser != null">
        bind_user = #{bindUser,jdbcType=VARCHAR},
      </if>
      <if test="bindTaskId != null">
        bind_task_id = #{bindTaskId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="startDate != null">
        start_date = #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=DATE},
      </if>
      <if test="excludeDateType != null">
        exclude_date_type = #{excludeDateType,jdbcType=TINYINT},
      </if>
      <if test="singleDateTime != null">
        single_date_time = #{singleDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="timeInDay != null">
        time_in_day = #{timeInDay,jdbcType=TIME},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="addition != null">
        addition = #{addition,jdbcType=VARCHAR},
      </if>
      <if test="marked != null">
        is_marked = #{marked,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ranze.schedule.pojo.Task">
    update task
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=VARCHAR},
      bind_type = #{bindType,jdbcType=TINYINT},
      bind_user = #{bindUser,jdbcType=VARCHAR},
      bind_task_id = #{bindTaskId,jdbcType=BIGINT},
      type = #{type,jdbcType=TINYINT},
      start_date = #{startDate,jdbcType=DATE},
      end_date = #{endDate,jdbcType=DATE},
      exclude_date_type = #{excludeDateType,jdbcType=TINYINT},
      single_date_time = #{singleDateTime,jdbcType=TIMESTAMP},
      time_in_day = #{timeInDay,jdbcType=TIME},
      content = #{content,jdbcType=VARCHAR},
      addition = #{addition,jdbcType=VARCHAR},
      is_marked = #{marked,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>